{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile-view">
        <h3></h3>
        <div id="infos" class="container">
            Followers:
            Following:
            {% if user.is_authenticated %}
                <button class="btn btn-primary" type="submit">Button</button>
            {% endif %}
        </div>
    </div>

    <div id="posts-view">
        <h3></h3>
        {% if user.is_authenticated %}
            <div id="new-post" class="container">
                <form id="compose-post" class="row g-3">
                    <label for="content-post">New Post</label>
                    <textarea class="form-control" id="content-post" name="compose-post" autofocus></textarea>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}